.container_top {
	margin: 20px 0 20px 10%;
}

.container_bot {
	background-color: #0000000f;
}

.container_bot table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	border: 2px solid white;
}

button {
	width: 100%;
}

table input {
	width: 100%;
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0);

}

.text_center {
	text-align: center;
}
